@import '~@angular/material/theming';

@mixin get-font($config, $level) {
  @include mat-typography-level-to-styles($config, $level);
}

$custom-typography: mat-typography-config(
  $font-family: 'Titillium Web, sans-serif',
  $body-1: mat-typography-level(16px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 600),
  $caption: mat-typography-level(14px, 22px, 300)
);

@include mat-core($custom-typography);

$tgt-theme-primary: mat-palette($mat-blue);
$tgt-theme-accent: mat-palette($mat-blue);
$tgt-theme-warn: mat-palette($mat-pink);

$tgt-theme-light:mat-light-theme(
  $tgt-theme-primary, 
  $tgt-theme-accent, 
  $tgt-theme-warn
);

@include angular-material-theme($tgt-theme-light);

